[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
test-app = {editable = true, path = ".", extras = ["testing"]}
rope = "*"
pylint = "*"
mypy = "*"

[packages]

[requires]
python_version = "3.8"
